body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Online {
  margin-left: -90vh;
}

.Cart-button {
  margin: 0vh 0px 0px -185vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Fruits {
  background-color: rgb(223, 157, 223);
}

.Apples {
  margin: 0px 0px 0px -130vh;
}

.Apples>img {
  height: 20vh;
  width: 25vh;
  border-radius: 50%;
}

.Bannas {
  margin: -22vh 0px 0px -70vh;
}

.Bannas>img {
  height: 20vh;
  width: 25vh;
  border-radius: 50%;
}

.Advocados {
  margin: -22vh 0px 0px 0px;
}

.Advocados>img {
  height: 20vh;
  width: 25vh;
  border-radius: 50%;
}

.Grapes {
  margin: -22vh -70vh 0px 0px;
}

.Grapes>img {
  height: 20vh;
  width: 25vh;
  border-radius: 50%;
}

.Lemons {
  margin: -22vh -130vh 0px 0px;
}

.Lemons>img {
  height: 20vh;
  width: 25vh;
  border-radius: 50%;
}